.cards-container {
  background-color: rgb(250, 247, 247);
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 40px;
  justify-content: center; /* Centre la grille horizontalement */
  align-items: center; /* Centre les cartes verticalement dans leur conteneur */
  padding: 40px;
  margin-top: 40px;
  border-radius: 15px;
  margin: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);/* 1 colonne pour les petits écrans */
  }

  @media (max-width: 768px) {
    background-color: white; /* Fond blanc pour 768px et moins */
    padding: 0; /* Supprime les marges internes */
    border-radius: 0; /* Enlève les coins arrondis */
  }

  
}







