.banner {
  height: 220px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: 1.5rem;
  padding: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  h1 {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    word-wrap: break-word;
  }

  @media (max-width: 768px) and (min-width: 375px) {
    height: 200px;

    h1 {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 375px) {
    height: 180px;
    padding: 0.5rem;

    h1 {
      font-size: 1.4rem;
      line-height: 1.2;
      text-align: start;
      word-wrap: break-word;
      margin: 0;
    }
  }
}








