.property-collapse {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;

  .collapse-header {
    h2 {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  .collapse-content {
    padding: 1rem;
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.collapse {
  margin: 1rem auto;
  width: 100%;
  height: 52px;
  border: 1px solid #ff6060;
  border-radius: 5px;
  overflow: hidden;
  transition: border-color 0.3s ease;

  .showCollapse {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .w-48 {
    width: 48%;
  }

  .collapse-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6060;
    color: white;
    padding: 1rem;
    cursor: pointer;

    h2 {
      margin: 0;
      white-space: nowrap;
      max-width: calc(100% - 2rem);
      text-align: center; /* Centre le texte */
    
    }

    .arrow {
      font-size: 1.5rem;
      transition: transform 0.3s ease;
      margin-left: auto; 

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .collapse-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
  
    &.open {
      display: block !important; /* ✅ Assure que c'est visible */
      max-height: 1000px; /* ✅ Ajuste selon le contenu */
      opacity: 1;
      visibility: visible;
      padding: 1rem;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}

.about-collapse {
  width: 80%;
  margin: 2rem auto;

  @media (max-width: 768px) and (min-width: 375px) {
    width: 90%;
    font-size: 13px;
  }

  @media (max-width: 375px) {
    font-size: 13px;
  }
}













