.cards-container {
  background-color: rgb(250, 247, 247);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 2rem;
  border-radius: 15px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    background-color: white;
    padding: 0;
    border-radius: 0;
  }

  
}








